[{game, [
    {debug, true},
    {main_port, 19000},
    {server_open_time, 1452009600},
    {db_host, "127.0.0.1"},
    {db_user, "root"},
    {db_pwd, "daohaozhe4"}
    ]},
{sasl, [
    {sasl_error_logger, false},
    {errlog_type, error},
    {error_logger_mf_dir, "logs"},
    {error_logger_mf_maxbytes, 1073741824}, % 1GB
    {error_logger_mf_maxfiles, 10}
    ]}
].
